<link rel="stylesheet" href="/css/register.css">

<div id="form">

  <p>thanks, <%= @user.name %>. we look forward to seeing you.
  here's a look at what we know about you:</p>
  
  <table>
    <tr>

      <td>
        <table>
        
          <% Racer.fieldmap.each do |k,v| %>
            <tr>
              <th><%= k %>: </th>
              <td><%= escape_html @user.send(v) %></td>
            </tr>
          <% end %>
        
        </table>
      </td>

      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

      <td>
        <table>
        
          <tr>
            <th># of years you've worked: </th>
            <td><%= @user.years_worked %></td>
          </tr>

          <tr>
            <th>company/companies: </th>
            <td><%= @user.companies %></td>
          </tr>
        
          <tr>
            <th>number you want: </th>
            <td><%= @user.number_requested %></td>
          </tr>

          <tr>
            <td colspan="2" style="text-align:center;">
              you <b><%= @user.shirt_requested ? "do" : "don't" %></b> want a shirt.
            </td>
          </tr>

          <% if @user.shirt_requested %>
            <tr>
              <th>and it's size will be... </th>
              <td><%= @user.shirt_size %></td>
            </tr>
          <% end %>

        </table>
      </td>

    </tr>

    <tr>
      <td colspan="3" style="text-align:center;">
        <a href="/register/moreinfo">edit your info</a>
      </td>
    </tr>

    <tr><td colspan="3">&nbsp;</td></tr>
    <tr><td colspan="3" style="text-align:center;">.........................</td></tr>
    <tr><td colspan="3">&nbsp;</td></tr>

    <tr>
      <td colspan="3">

        <table>
          <tr>
            <th>
              <% if @user.payment_status.paid? %>
                thanks for your payment of:
              <% else %>
                current payment type:
              <% end %>
            </th>
            <td>
              $<%= @user.payment_type[:amount] %>.00
              <%= @user.payment_type[:description] %>
            </td>
          </tr>

          <% if PaymentStatus::EARLY_PAYMENT_END > Date.today %>
            <tr>
              <td class="status" colspan="2">
                paying before the 1st of may saves you $10!
              </td>
            </tr>
          <% end %>

        </table>
        
      </td>
    </tr>

    <tr><td colspan="3">&nbsp;</td></tr>

    <tr>
      <td colspan="3" style="text-align:center;">

        <% if @user.payment_status.paid? %>

          you're early registration really helps out.<br/>
          here's the info on that:<br/>

          <table>
            <tr>
              <th>payment date: </th>
              <td><%= @user.payment_status.when %></td>
            </tr>
            <tr>
              <th>paypal transaction id: </th>
              <td><%= @user.payment_status.txn_id %></td>
            </tr>
          </table>
          
        <% else %>

          <% unless @user.payment_status.last_paypal_status.blank? %>

            <i>paypal says your status is '<%= @user.payment_status.last_paypal_status %>'.</i><br/>
            <br/>

          <% end %>

            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
              <% { "business" =>      "ken@portlandmessenger.org",
                   "currency_code" => "USD",
                   "cmd" =>           "_xclick",
                   "notify_url" =>    "http://test.westsideinvite.com/paypal/ipn",
                   "amount" =>        @user.payment_type[:amount].to_s,
                   "item_name" =>     @user.payment_type[:description],
                   "custom" =>        @user.session_id,
                   "no_shipping" =>   "1",
                   "cs" =>            "1",
                   "return" =>        "http://test.westsideinvite.com/register/status",
                   "cancel_return" => "http://test.westsideinvite.com/register/status" }.each do |k,v| %>

                <input type="hidden" name="<%= k %>" value="<%= v %>">
              <% end %>
              <input type="submit" value="pay now!">
            </form>

        <% end %>

      </td>

    </tr>
        
  </table>
  
</div>
