<p>
west side invite ten<br/>
twenty-eight -- thirty-one, may, two thousand ten<br/>
portland, oregon
</p>

<div id="pictobrowser">
  <object width="480" height="270">
    <param name="FlashVars" VALUE="ids=449635@N25&names=West Side Invite VII&userName=kenichi-san&userId=13257516@N08&titles=on&source=groups&titles=off&displayNotes=off&thumbAutoHide=on&imageSize=medium&vAlign=center&displayZoom=off&vertOffset=0&initialScale=off&bgAlpha=30"></param>
    <param name="PictoBrowser" value="http://www.db798.com/pictobrowser.swf"></param>
    <param name="scale" value="noscale"></param>
    <param name="bgcolor" value="#000"></param>
    <embed src="http://www.db798.com/pictobrowser.swf" FlashVars="ids=449635@N25&names=West Side Invite VII&userName=kenichi-san&userId=13257516@N08&titles=on&source=groups&titles=off&displayNotes=off&thumbAutoHide=on&imageSize=medium&vAlign=center&displayZoom=off&vertOffset=0&initialScale=off&bgAlpha=30" loop="false" scale="noscale" bgcolor="#000" width="480" height="270" name="PictoBrowser" align="middle"></embed>
  </object>
</div>

<div id="register">
  <a href="register/start">
    <img src="images/star.png" height="20">
    register here
    <img src="images/star.png" height="20">
  </a>

  <br/>
  <br/>

  <div id="register-scroll">

    <div id="latestRegistered" class="translucent rounded">
      <a href="/register/who"><b>latest registered!</b></a><br/>
      <br/>
      <% if @racers.nil? or @racers.length < 1 %>
        none yet!<br/>
      <% else %>
        <% @racers.each do |racer| %>
          <%= racer.name %><br/>
        <% end %>
      <% end %>
    </div> 
  
    <br/>
  
    <div id="sponsorInfo" class="translucent rounded">
      <b>sponsors!</b><br/>
      <br/>
      
      <div id="sponsor-list">
        <table class="sponsor">
    
          <% [

            ['raleigh',      'raleigh',          'http://www.raleighusa.com/'],
            ['dank',         'dank bags',        'http://www.dankbags.net/'],
            ['or',           'outdoor research', 'http://www.outdoorresearch.com/'],
            ['cateye',       'cateye',           'http://www.cateye.com/'],
            ['freight',      'freight baggage',  'http://www.freightbaggage.org/'],
            ['tcb',          'tcb racks',        'http://www.tcbracks.com/'],
            ['pilderwasser', 'pilderwasser',     'http://www.pilderwasser.com/'],
            ['teambeer',     'team beer',        'http://teambeerpdx.com/'],
            ['someday',      'someday lounge',   'http://www.somedaylounge.com/']

          ].each do |sponsor|
          %>
            <tr class="sponsor">

              <% unless sponsor[0].nil? %>

                <td class="sponsor-image">
                  <a href="<%= sponsor[2] %>" target="_blank"><img src="/images/sponsors/<%= sponsor[0] %>.png"></a>
                </td>
                <td class="sponsor-text">
                  <a href="<%= sponsor[2] %>" target="_blank"><%= sponsor[1] %></a>
                </td>

              <% else %>

                <td colspan="2">
                  <a href="<%= sponsor[2] %>" target="_blank"><%= sponsor[1] %></a>
                </td>

              <% end %>

            </tr>
          <% end %>
  
          <tr><td colspan="2">---</td></tr>
          <tr><td colspan="2"><a href="/previous_sponsors">past sponsors</a></td></tr>
    
        </table>
      </div>
      
      <br/>
    </div>

    <br/>
  
    <div id="calendar" class="translucent rounded">
      <b>calendar!</b><br/>
      <br/>
  
      <% require 'dictionary' %>
      <% Dictionary[
           "friday 28th", Dictionary[ "5-7",  "welcome &amp; registration",
                                      "7-9",  "alleycat of some sort",
                                      "9-12", "party party party" ],
  
           "saturday 29th", Dictionary[ "10-12", "coffeecat",
                                        "12-5",  "group ride &amp; stupid tricks",
                                        "8-12",  "party &amp; gold sprints" ],
  
           "sunday 30th", Dictionary[ "12-4", "<b>main race</b>",
                                      "6-9",  "awards &amp; prizes" ],
  
           "monday 31st", Dictionary[ "9-5", "polo tournament <b>or</b><br/>" +
                                             "track racing at <a href=\"http://alpenrose.com/pages/velodrome.html\"" +
                                             "target=\"_blank\">alpenrose</a>" ]
         ].each do |k,v| %>
  
        <div class="schedule">
          <u><%= k %></u><br/>
          <table>
          <% v.each do |time,event| %>
            <tr>
              <th class="schedule"><%= time %></th>
              <td class="schedule"><%= event %></td>
            </tr>
          <% end %>
          </table>
        </div>
        <br/>
  
      <% end %>
  
    </div>
  
  </div>

</div>

<script type="text/javascript">
  //<![CDATA[
  var rs_needs;
  function setRegisterScrollHeight() {
    var visible = _height - 100;
    $('register-scroll').style.height = (visible < rs_needs) ? ((visible - 1) + "px") : null;
  }
  onLoaders.push(function(){
    setRegisterScrollHeight();
    rs_needs = $('register-scroll').getHeight();
  });
  onResizers.push(function(){ setRegisterScrollHeight(); });
  //]]>
</script>
